<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> 
    <link rel="stylesheet" href="../../css/standard.css">
    <title>Receipt View</title>
</head>

<body>
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="./client_index.html">Business Name</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" 
          aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" href="/client/client_index">Home</a>
                <a class="nav-link" href="/client/communication">Contact Us</a>
                <a class="nav-link" href="/client/services_request">Request a Service</a>
                <a class="nav-link" href="/client/services_view">View Your Purchase History</a>
                <a class="nav-link" href="/client/receipts_view">View Receipts</a>
            </div>
          </div>
          <button class="btn btn-danger" style="display:flex; margin-left: auto" onclick="location.href='../login.html'">Logout</button>
        </div>
      </nav>
<div class="receipt">
    <h1>Receipt</h1>
    <!-- Change description/info of business (should be dynamic)-->
    <b>
        <h2>Company name</h2>
        <h3>Contact Info:</h3>
        <p> 
            Address : <%= businessInfo.address %></br>
            Email : <%= businessInfo.email %></br>
            Phone : <%= businessInfo.phone %></br>
        </p>
    </b>

    <!-- User information -->
    <b>
        <h3>Customer Detail:</h3>
        <p> 
            Name: <%= currentUser.full_name %></br>
            Email : <%= currentUser.email %></br>
            Phone : <%= currentUser.phone_number %></br>
        </p>
    </b>

    <!-- Display all services from user -->
    <div id="table">
        <table>
            <tr class="tabletitle">
                <td class="tableitem">
                    <h2>Service</h2>
                </td>
                <td class="tableitem">
                    <h2>Date of purchased</h2>
                </td>
                <td class="tableitem">
                    <h2>Cost</h2>
                </td>
            </tr>
            <!-- Hard coded for now but can be remove  -->
            <tr class="service">
                <td class="tableitem">
                    <p class="itemtext">Regular interior cleaning</p>
                </td>
                <td class="tableitem">
                    <p class="itemtext">01-01-2000</p>
                </td>
                <td class="tableitem">
                    <p class="itemtext">100</p>
                </td>
            </tr>

            <tr class="service">
                <td class="tableitem">
                    <p class="itemtext">Major interior cleaning</p>
                </td>
                <td class="tableitem">
                    <p class="itemtext">31-10-2024</p>
                </td>
                <td class="tableitem">
                    <p class="itemtext">200</p>
                </td>
            </tr>

            <tr class="service">
                <td class="tableitem">
                    <p class="itemtext">Exterior cleaning</p>
                </td>
                <td class="tableitem">
                    <p class="itemtext">01-01-2030</p>
                </td>
                <td class="tableitem">
                    <p class="itemtext">300</p>
                </td>
            </tr>

            <!-- Display the services from user (not sure if it works) -->
            <% 
                let totalPrice = 0;
                for (let i = 0; i < currentUser.service_list.length; i++) {
                    let service = currentUser.service_list[i];
                    totalPrice += service.price; 
            %>
                <tr class="service">
                    <td class="tableitem">
                        <p class="itemtext"><%= service.name %></p>
                    </td>
                    <td class="tableitem">
                        <p class="itemtext"><%= service.date %></p>
                    </td>
                    <td class="tableitem">
                        <!-- Should dispay the date of purchase but the service model does not have that but instead have description -->
                        <p class="itemtext"><%= service.description %></p> 
                    </td>
                </tr>
            <% } %>
        </table>
    </div>
        <br>
        <h4>Total: <%= totalPrice %></h4>
        <p>Thank you for your purchase!</p>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" 
integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" 
crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" 
integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" 
crossorigin="anonymous"></script>
</body>

</html>